html {
    font-size: 10px;
}

body {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
    color: white;
    background-color: #15063a;
}

.layout__video {
    width: 100%;
    height: 100%;
}


.layout__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content__title {
    font-size: 8rem;
    padding: 2rem;
    text-shadow: 0 0 1rem rgb(195, 16, 195);
    margin-bottom: 1rem;
}

.content__btn {
    display: block;
    width: 12rem;
    border: 2px solid white;
    background-color: white;
    padding: 2rem;
    color: #444;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

.content__btn:hover {
    background-color: rgb(195, 16, 195);
    transition: all 300ms ease;

}