body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
article h2 {
    color: #fff;
    background-color: #000;
    padding: 10px;
}

article a {
    color: red;
    text-decoration: none;
    font-size: 18px;
}

article a:hover{
    text-decoration: underline;
    
}
article p{
    color: #000;
    color: black;
    border: 1px solid grey;
    padding: 10px;
}