html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8EDED;
    
}

.layout__card{
    display: flex;
    flex-direction: row;
    max-width: 86rem;
    height: 30rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 18px #3F7080;
}

.card__container-img {
    flex-basis: 40%;
    height: 100%;
}
.card__content {
    flex-basis: 60%;
    height: 100%;
    padding: 3rem 4rem;
}

.card__title {
    font-size: 2rem;
    line-height: 1.4;
    color: #3F7080;
    margin-bottom: 1.5rem;

}

.card__description {
    font-size: 1.4rem;
    color: #727182;
    margin-bottom: 2rem;

}

.card__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.user__container-name {
    display: flex;
    flex-direction: column;
}
.user__name {
    font-size: 1.4rem;
    color: #444;
    font-weight: 600;
}

.user__date {
    font-size: 1.4rem;
    color: #a29e9e;
    font-weight: 400;
}

.user__container-img {
    width: 5rem;
    height: 5rem;
}

.user__img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.user__icon {
    background-color: #00A7Db;
    color: white;
   
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    /* text-align: center; 
    line-height: 4rem;  o bien con display flex*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.user__icon:hover {
    background-color: #3F7080;
    transition: all 300ms ease;
}
