body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.articulo {
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;

    float: left;
    text-align: center;

}
.clearfix {
    float: none;
    clear: both;
}