html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    font-size: 1.6rem;
}
.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.layout__buttons {
    width: 50rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

/* button 1 */
.buttons__btn1{
    position: relative;
    width: 22rem;
    height: 7rem;
    border-radius: 0.5rem;
    border: 3px solid #6cbffc;
    cursor: pointer;
    overflow: hidden;
    font-weight: 600;
    color: #6cbffc;
    background-color: white;
    outline: none;

}

/* Efecto boton 1 */
.buttons__btn1::before {
    content: "Subir video";
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #6cbffc;
    color: white;
    font-weight: 600;
    transform: translateY(7rem);
    transition: all 300ms linear;
}
.buttons__btn1:hover::before {
    transform: translateY(0rem);
}

/* button 2 */



.buttons__btn2 {

    position: absolute;
    background-color: #6cbffc;
    border-radius: 10rem;    
    color: white;   
    width: 22rem;
    height: 7rem;    
    cursor: pointer;    
    font-weight: 600;
    border: none;
    outline: none;
    
}

/* Efecto boton 2 */
/* efecto aura */

.buttons__btn2::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6cbffc;
    border-radius: 10rem;
    z-index: -1;
    transition: all 1s ease-in-out;
    
}

.buttons__btn2:hover::before {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0;


}

